MemoryGame/Connected Services/MemoryGameService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MemoryGame.MemoryGameService.Faults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MemoryGame.MemoryGameService.Faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NonExistentUserFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NonExistentUserFault" nillable="true" type="tns:NonExistentUserFault" />
  <xs:complexType name="DatabaseConnectionLostFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatabaseConnectionLostFault" nillable="true" type="tns:DatabaseConnectionLostFault" />
  <xs:complexType name="CardDeckRetrievingFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardDeckRetrievingFault" nillable="true" type="tns:CardDeckRetrievingFault" />
  <xs:complexType name="MatchAccessDeniedFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchAccessDeniedFault" nillable="true" type="tns:MatchAccessDeniedFault" />
</xs:schema>