MemoryGame/Connected Services/MemoryGameService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MemoryGame.MemoryGameService.DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MemoryGame.MemoryGameService.DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PlayerCredentialsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerCredentialsDTO" nillable="true" type="tns:PlayerCredentialsDTO" />
  <xs:complexType name="ArrayOfPlayerScoreDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerScoreDTO" nillable="true" type="tns:PlayerScoreDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerScoreDTO" nillable="true" type="tns:ArrayOfPlayerScoreDTO" />
  <xs:complexType name="PlayerScoreDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalScore" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerScoreDTO" nillable="true" type="tns:PlayerScoreDTO" />
  <xs:complexType name="PlayerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VerificationToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerDTO" nillable="true" type="tns:PlayerDTO" />
  <xs:complexType name="ArrayOfCardDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CardDTO" nillable="true" type="tns:CardDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCardDTO" nillable="true" type="tns:ArrayOfCardDTO" />
  <xs:complexType name="CardDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardDTO" nillable="true" type="tns:CardDTO" />
</xs:schema>