MemoryGame/Connected Services/MemoryGameService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MemoryGame.MemoryGameService.DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MemoryGame.MemoryGameService.DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PlayerCredentialsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerCredentialsDTO" nillable="true" type="tns:PlayerCredentialsDTO" />
  <xs:complexType name="CardDeckDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BackImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardDeckId" type="xs:int" />
      <xs:element minOccurs="0" name="Cards" nillable="true" type="tns:ArrayOfCardDto" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfPairs" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardDeckDTO" nillable="true" type="tns:CardDeckDTO" />
  <xs:complexType name="ArrayOfCardDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CardDto" nillable="true" type="tns:CardDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCardDto" nillable="true" type="tns:ArrayOfCardDto" />
  <xs:complexType name="CardDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardId" type="xs:int" />
      <xs:element minOccurs="0" name="FrontImage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardDto" nillable="true" type="tns:CardDto" />
  <xs:complexType name="LobbyRequestDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Connection" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Host" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbyRequestDto" nillable="true" type="tns:LobbyRequestDto" />
  <xs:complexType name="GameMatchDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardDeckDto" nillable="true" type="tns:CardDeckDTO" />
      <xs:element minOccurs="0" name="HasStarted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Host" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lobby" nillable="true" type="tns:MatchLobby" />
      <xs:element minOccurs="0" name="MaxNumberOfPlayers" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameMatchDto" nillable="true" type="tns:GameMatchDto" />
  <xs:complexType name="MatchLobby">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="MatchLobby" nillable="true" type="tns:MatchLobby" />
  <xs:complexType name="ArrayOfGameMatchDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameMatchDto" nillable="true" type="tns:GameMatchDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameMatchDto" nillable="true" type="tns:ArrayOfGameMatchDto" />
  <xs:complexType name="PlayerMovementDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardIndex" type="xs:int" />
      <xs:element minOccurs="0" name="HasFormedAPair" type="xs:boolean" />
      <xs:element minOccurs="0" name="Host" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MovementsLeft" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerMovementDto" nillable="true" type="tns:PlayerMovementDto" />
  <xs:complexType name="CardPairDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BothCardsAreEqual" type="xs:boolean" />
      <xs:element minOccurs="0" name="IndexOfCard1" type="xs:int" />
      <xs:element minOccurs="0" name="IndexOfCard2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardPairDto" nillable="true" type="tns:CardPairDto" />
  <xs:complexType name="ArrayOfPlayerInMatchDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerInMatchDto" nillable="true" type="tns:PlayerInMatchDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerInMatchDto" nillable="true" type="tns:ArrayOfPlayerInMatchDto" />
  <xs:complexType name="PlayerInMatchDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="HasActiveTurn" type="xs:boolean" />
      <xs:element minOccurs="0" name="MatchServiceConnection" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerInMatchDto" nillable="true" type="tns:PlayerInMatchDto" />
  <xs:complexType name="ArrayOfPlayerScoreDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerScoreDTO" nillable="true" type="tns:PlayerScoreDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerScoreDTO" nillable="true" type="tns:ArrayOfPlayerScoreDTO" />
  <xs:complexType name="PlayerScoreDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalScore" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerScoreDTO" nillable="true" type="tns:PlayerScoreDTO" />
  <xs:complexType name="PlayerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VerificationToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerDTO" nillable="true" type="tns:PlayerDTO" />
</xs:schema>